<div class="ui header">
  <i class="icon calendar alternate"></i>
  <div class="content">Dashboard
    <div class="sub header">Progres of the project stories</div>
  </div>
</div>

<div class="ui segments">
  <div class="ui tertiary segment">
    <p>With selected story : <strong>{{model.selectetdStory.code}}</strong></p>
  </div>
  <div class="ui segment">
    <button class="ui button"><i class="folder open icon"></i>Open...</button>
    {{#ui-dropdown class="ui floating dropdown labeled icon button" onChange=(action (mut model.steps)) as |execute mapper|}}
      <i class="arrow circle right icon"></i>
      <span class="default-text">Move to step</span>
      <div class="menu">
        {{#each model.steps as |step|}}
          <div class="item" data-value={{map-value mapper step}}>
            <i class="step forward icon"></i>
            {{step.title}}
          </div>
        {{/each}}
      </div>
    {{/ui-dropdown}}
    <button class="ui red button"><i class="times icon"></i>Remove</button>
  </div>
</div>


<div class="row">
    {{#each model.steps as |step| }}
    <div class="col-sm">
        <div class="ui segments">
            <div class="ui secondary segment">
                <p><i class="step forward icon"></i>{{step.title}}</p>
            </div>
            <div class="ui segment">
                {{#draggable-dropzone content=step dropped="addToStep" class="column"}}
                    {{#each step.stories as |story|}}
                        {{#draggable-item class="ui segment" activeClass="green inverted" content=story onClick="activate"}}
                            
                        {{/draggable-item}}
                    {{/each}}
                {{/draggable-dropzone}}
            </div>
        </div>
    </div>
    {{/each}}
</div>
<br>
{{outlet}}