<div class="alert jumbotron">
  <div class="container">
    <h1 class="display-15">models\Project</h1>
    <p class="lead">Data administration</p>
  </div>
</div>
<LinkTo class="btn btn-warning" @route="projects.new"><i class="fa fa-plus"></i> Add a new models\Project...</LinkTo>
<br><br>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Descriptif</th>
      <th scope="col">StartDate</th>
      <th scope="col">DueDate</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each this.model.projects as |project|}}
    <tr>
      <th scope="row">{{project.name}}</th>
      <th scope="row">{{project.descriptif}}</th>
      <th scope="row">{{format-date project.startDate}}</th>
      <th scope="row">{{format-date project.dueDate}}</th>
      <td class="text-right">
          <LinkTo type="button" @route="projects.edit" @model={{project.id}} class="btn btn-outline-secondary btn-circle"><i class="fa fa-pencil-square-o"></i></LinkTo>
          <button type="button" {{action "showDeleteModal" project}} class="btn btn-outline-danger btn-circle"><i class="fa fa-times"></i></button>
      </td>
    </tr>
    {{/each}}
    {{#if this.model.projects}}
    {{else}}
        <tr><th scope="row">Project list is empty!!!</th></tr>
    {{/if}}
  </tbody>
</table>
{{outlet}}