<fieldset data-ng-show="edit" class="container form-group form-inline">
    <legend>{{operation}}</legend>
    <form name="frmContact" data-ng-submit="frmContact.$valid && update()" novalidate>
        <Input class="form-control" @value={{model.nom}} placeholder="Nom..."/>
        <Input class="form-control" @value={{model.prenom}} placeholder="Prénom..."/>
        <Input class="form-control" type="email" @value={{model.email}} placeholder="Email..."/>
        <button class="btn btn-primary" {{action "save" model}}>Ajouter contact</button>
        <input type="button" value="Annuler" data-ng-click="edit=false" class="btn btn-primary">
	</form>
</fieldset>
{{outlet}}