<br><br><br>
<div class="card text-white bg-primary">
    <div class="card-header">Ex 1 : Note Application</div>
    <div class="card-body bg-light">
        <div class="form-group">
            <p>
                <label for="message">Note :</label>
                <Textarea onkeyup={{action "update" model}} @value={{model.content}} name="message" id="message" cols="40" rows="5" class="form-control" maxlength="100"></Textarea>
            </p>
            <p>
                <button {{action "save" model}} class="btn btn-primary">Enregistrer</button>
                <button {{action "clear" model}} class="btn btn-primary">Effacer</button>
            </p>

            <div class="alert alert-dismissible alert-primary" role="alert">Nombre de caractères restant : {{ model.size }}</div>
            <div class="alert alert-dismissible {{model.style}} fade {{if model.info "show" ""}}" role="alert"><span>{{model.info}}</span></div>
        </div>
    </div>
</div>
<style>
    *{
        margin:0;
        padding:0;
    }

    body{
        font:15px/1.3 'Century gothic', sans-serif;
        color: #5e5b64;
        text-align:center;
    }

    a, a:visited {
        outline:none;
        color:#389dc1;
    }

    a:hover{
        text-decoration:none;
    }

    section, footer, header, aside, nav{
        display: block;
    }
    .alert {
        transition: 1s linear all;
        opacity: 1;
    }
</style>
{{outlet}}