<div class="alert jumbotron">
  <div class="container">
    <h1 class="display-15">{{model.project.name}}</h1>
    <p class="lead">{{model.project.descriptif}}</p>
  </div>
</div>
<h4>Stories</h4>
<LinkTo type="button" @route="story.new" @model={{model.project.id}} class="btn btn-secondary"><i class="fa fa-plus"></i> Add Story in project</LinkTo>
<LinkTo type="button" @route="project.board" @model={{model.project.id}} class="btn btn-success"><i class="fa fa-calendar"></i> Dashboard</LinkTo>
<LinkTo type="button" @route="projects" class="btn btn-secondary"><i class="fa fa-caret-square-o-left"></i> Back to projects</LinkTo>
<br><br>
<div class="ui segments">
    <div class="ui tertiary segment">
      <p>Backlog</p>
    </div>
  {{#draggable-dropzone content=step dropped="addToStep" class="ui segment"}}
    {{#each this.backlog as |story|}}
    <div class="ui segments">
    {{#draggable-item class="ui clearing segment" activeClass="" content=story onClick="activate"}}
            <div class="ui header">
            <div class="ui right" style="float: right;">
              <div class="input-group mb-3 justify-content-end">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">{{story.developer.identity}}</span>
                </div>            
                <div class="input-group-append">
                    <LinkTo class="btn btn-secondary" @route="stories.edit" @model={{story.id}} type="button"><i class="fa fa-folder-open"></i> Modifier...</LinkTo>
                </div>
              </div>
            </div>
              <i class="file icon"></i>
              <div class="content">
                {{story.code}}
                <div class="sub header">
                  {{story.description}} {{#each story.tags as |tag|}}<span class="badge {{badge tag.color}}">{{tag.title}}</span>{{/each}}
                </div>
              </div>
            </div> 
    {{/draggable-item}}
    </div>
    {{/each}}
    {{#if this.model.stories}}
    {{else}}
        <div class="ui segment">Story list is empty!!!</div>
    {{/if}}
  {{/draggable-dropzone}}
</div>
{{!-- <table class="table"> --}}
  
{{!-- </table> --}}

{{outlet}}