<div class="alert jumbotron">
  <div class="container">
    <h1 class="display-15">{{model.project.name}}</h1>
    <p class="lead">{{model.project.descriptif}}</p>
  </div>
</div>
<h4>Stories</h4>
<LinkTo type="button" @route="story.new" @model={{model.project.id}} class="btn btn-secondary"><i class="fa fa-plus"></i> Add Story in project</LinkTo>
<LinkTo type="button" @route="project.board" @model={{model.project.id}} class="btn btn-success"><i class="fa fa-calendar"></i> Dashboard</LinkTo>
<LinkTo type="button" @route="projects" class="btn btn-secondary"><i class="fa fa-caret-square-o-left"></i> Back to projects</LinkTo>
<br><br>
<table class="table">
  <tbody>
    {{#each this.model.stories as |story|}}
    <tr>
      <th scope="row"><i class="fa fa-file fa-2x"></i></th>
      <td>
        <b class="display-15">{{story.code}}</b>
        <p>{{story.description}} {{#each story.tags as |tag|}}<span class="badge {{badge tag.color}}">{{tag.title}}</span>{{/each}}</p>
      </td>
      <td>
        <div class="input-group mb-3 justify-content-end">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">{{story.developer.identity}}</span>
            </div>            
            <div class="input-group-append">
                <LinkTo class="btn btn-secondary" @route="stories.edit" @model={{story.id}} type="button"><i class="fa fa-folder-open"></i> Modifier...</LinkTo>
            </div>
        </div>
      </td>
    </tr>
    {{/each}}
    {{#if this.model.stories}}
    {{else}}
        <tr><th scope="row">Story list is empty!!!</th></tr>
    {{/if}}
  </tbody>
</table>

{{outlet}}