<form class="rounded" id="choixMultiples">
  {{#if model.step}}
    <h1>Sélectionnez vos produits</h1>
    <div class="row">
      <div class="col-5">
          <label for="s1">Produits disponibles</label>
        <MultiSelect id="s1" @elements={{model.dispoItems}} @selectedIds={{model.selectedDispoItemsIds}} @dblClick="move"/>
        <br>
        {{pluralize model.includedItems.length "" "élément inclu" "éléments inclus"}}
      </div>
      <div class="col">
        <br><br>
        <button disabled={{if (lte model.selectedDispoItems.length 0) "disabled" ""}} class="btn btn-info btn-block" {{action "addTo" model.dispoItems model.selectedDispoItems model.includedItems}}>
          <span aria-hidden="true" class="fa fa-step-forward"></span>
        </button>
        <button disabled={{if (lte model.dispoItems.length 0) "disabled" ""}} class="btn btn-info btn-block" {{action "addTo" model.dispoItems model.dispoItems model.includedItems}}>
          <span aria-hidden="true" class="fa fa-fast-forward"></span>
        </button>
        <button disabled={{if (lte model.selectedIncludedItems.length 0) "disabled" ""}} class="btn btn-info btn-block" {{action "addTo" model.includedItems model.selectedIncludedItems model.dispoItems}}>
          <span aria-hidden="true" class="fa fa-step-backward"></span>
        </button>
        <button disabled={{if (lte model.includedItems.length 0) "disabled" ""}} class="btn btn-info btn-block" {{action "addTo" model.includedItems model.includedItems model.dispoItems}}>
          <span aria-hidden="true" class="fa fa-fast-backward"></span>
        </button>
      </div>
      <div class="col-5">
        <label for="s2">Produits inclus</label>
        <MultiSelect id="s2" @elements={{model.includedItems}} @selectedIds={{model.selectedIncludedItemsIds}} @dblClick="move"/>
      </div>
    </div>
    <div>
    {{#if (lte 1 model.includedItems.length)}}
    <br>
      <button {{action  "toggleStep"}}  class="btn btn-primary action-step">
        <span>Etape suivante    </span><span aria-hidden="true" class="fa fa-circle-arrow-right"></span>
      </button>
    {{/if}}
    </div>
  {{else}}
    <div id="step2">
      <h1>Votre choix</h1>
      <ul>
        {{#each model.includedItems as |item|}}
          <li>
            <a href="{{item.url}}"><img src="{{item.image}}" /></a>
            <p>{{item.title}}</p>
          </li>
        {{/each}}
      </ul>
      <div>
        <br>
        <button {{action  "toggleStep"}} class="btn btn-primary action-step">
          <span aria-hidden="true" class="fa fa-circle-arrow-left"></span><span>     Retour au choix précédent</span>
        </button>
      </div>
    </div>
  {{/if}}
</form>