<form class="img-rounded" id="choixMultiples">
    <div id="step2">
        <h1>Votre choix</h1>
        <ul>
        {{#each model.includedItems as |item|}}
            <li>
            <a href="{{item.url}}"><img src="{{item.image}}" /></a>
            <p>{{item.title}}</p>
            </li>
        {{/each}}
        </ul>
        <div>
        <button {{action  "toggleStep"}} class="btn btn-primary action-step">
            <span aria-hidden="true" class="glyphicon glyphicon-circle-arrow-left"></span><span>     Retour au choix précédent</span>
        </button>
        </div>
    </div>
</form>
{{outlet}}