<br>
<form class="rounded">

	<h1>Services</h1>
	<div class="alert alert-info">
		<span>Choisissez les éléments à inclure</span>
		<p>
            {{#if model.countActive}}
                {{model.countActive}} service{{plural model.countActive}} sélectionné{{plural model.countActive}}
            {{else}}
                Aucun service sélectionné
            {{/if}}
		</p>
	</div>
	<ul class="list-group">
        {{#each model.services as |service|}}
		<li {{action "toggleActive" service}} class="list-group-item-action list-group-item {{if service.active "active" ""}}">
			{{service.name}} <span>{{format-currency service.price}}</span>
		</li>
        {{/each}}
	</ul>

	<div class="total">
		<!-- Format en currency. -->
		Total: <span>{{format-currency model.sumActive}}</span>
	</div>
	<div>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox" checked={{isChecked}}/>
                </div>
            </div>
            <input type="text" class="form-control" placeholder="Code promo">
        </div>
	</div>
    {{#if model.isChecked}}
	<div class="total">
		<span>Remise : 0</span><span>0</span><br>
		Total avec remise :<span>0</span>
	</div>
    {{/if}}
</form>
<style>
    form{
        background-color: #61a1bc;
        border-radius: 2px;
        box-shadow: 0 1px 1px #ccc;
        width: 500px;
        padding: 35px 60px;
        margin: 50px auto;
    }

    form h1{
        color:#fff;
        font-size:50px;
        font-family:'Century gothic', cursive;
        font-weight: normal;
        line-height:1;
        text-shadow:0 3px 0 rgba(0,0,0,0.1);
    }

    form ul{
        list-style:none;
        color:#fff;
        font-size:20px;
        font-weight:bold;
        text-align: left;
        margin:20px 0 15px;
    }

    form ul li{
        padding:20px 30px;
        background-color:#777;
        margin-bottom:8px;
        box-shadow:0 1px 1px rgba(0,0,0,0.1);
        cursor:pointer;
        border-radius:4px;
    }

    form ul li span{
        float:right;
    }

    form ul li.active{
        background-color:#8ec16d;
    }

    div.total{
        border-top:1px solid rgba(255,255,255,0.5);
        padding:15px 30px;
        font-size:20px;
        font-weight:bold;
        text-align: left;
        color:#fff;
    }

    div.total span{
        float:right;
    }
    .alert{
        text-align: left;
    }
    .alert p{
        font-weight: bold;
    }
</style>
{{outlet}}